<!DOCTYPE html>
<html lang="english" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>exported project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="generationSetting/style.css" />
  </head>
  <body>
    <div>
      <link href="generationSetting/frame.css" rel="stylesheet" />

      <div class="frame-container">
        <div class="frame-frame">
          <div class="frame-file-selectinput">
            <span class="frame-text">
              <span>
                D:\ELPLAT\Отчёт по платежам агента 2022-12-01_2022-12-31(4).xls
              </span>
            </span>
              <form action="#" th:action="@{/handleButtonClick}" th:method="GET">
                  <button type="submit" class="frame-browsebutton button-active button-hover" onclick="handleButtonClick()">
                      <img src="/generationSetting/public/playground_assets/rectangle21499-wr3-200h.png" alt="Rectangle21499" class="frame-rectangle2" />
                      <span class="frame-text02"><span>BROWSE</span></span>
                  </button>
              </form>
          </div>
          <div class="frame-file-selectinput1">
            <img
              src="/generationSetting/public/playground_assets/ellipse121491-vh4-200h.png"
              alt="Ellipse121491"
              class="frame-ellipse12"
            />
            <span class="frame-text04"><span>Дерендяев Д.С.</span></span>
          </div>
          <div class="frame-create-generation-paramentrs">
            <span class="frame-text06"><span>Настройкa генерации</span></span>
            <div class="frame-dropdown">
              <span class="frame-text08"><span>Тип диаграммы</span></span>
              <form action="/submit" method="post">
              <div class="frame-text-input">
        <span class="frame-text10 Body">
        </span>
                <select name="chartType">
                  <option value="absolute">Абсолютные показатели</option>
                  <option value="relative">Относительные показатели</option>
                </select>
              </div>
            </div>

              <div class="frame-optionlist">
                <div class="frame-assets-optionitem">
                  <div class="frame-content">
                    <div class="frame-radio">
                      <div class="frame-assets-radio">
                        <input type="radio" id="radio1" name="radio" value="Сумма платежа" />
                        <label for="radio1">Сумма платежа</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-assets-optionitem1">
                  <div class="frame-content1">
                    <div class="frame-radio02">
                      <div class="frame-assets-radio1">
                        <input type="radio" id="radio2" name="radio" value="Сумма извещения БПА" checked />
                        <label for="radio2">Сумма извещения БПА</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-assets-optionitem2">
                  <div class="frame-content2">
                    <div class="frame-radio04">
                      <div class="frame-assets-radio2">
                        <input type="radio" id="radio3" name="radio" value="Сумма извещения ПНКО" />
                        <label for="radio3">Сумма извещения ПНКО</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-assets-optionitem3">
                  <div class="frame-content3">
                    <div class="frame-radio06">
                      <div class="frame-assets-radio3">
                        <input type="radio" id="radio4" name="radio" value="Сумма наличными" />
                        <label for="radio4">Сумма наличными</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-assets-optionitem4">
                  <div class="frame-content4">
                    <div class="frame-radio08">
                      <div class="frame-assets-radio4">
                        <input type="radio" id="radio5" name="radio" value="Сумма картой" />
                        <label for="radio5">Сумма картой</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-assets-optionitem5">
                  <div class="frame-content5">
                    <div class="frame-radio10">
                      <div class="frame-assets-radio5">
                        <input type="radio" id="radio6" name="radio" value="Сумма СБП" />
                        <label for="radio6">Сумма СБП</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-assets-optionitem6">
                  <div class="frame-content6">
                    <div class="frame-radio12">
                      <div class="frame-assets-radio6">
                        <input type="radio" id="radio7" name="radio" value="Сумма Организации (БПА)" />
                        <label for="radio7">Сумма Организации (БПА)</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-assets-optionitem7">
                  <div class="frame-content7">
                    <div class="frame-radio14">
                      <div class="frame-assets-radio7">
                        <input type="radio" id="radio8" name="radio" value="Сумма Организации (ПНКО)" />
                        <label for="radio8">Сумма Организации (ПНКО)</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="frame-dowloadbutton button-active button-hover">
                <img src="/generationSetting/public/playground_assets/rectangle21499-lssw-200h.png" alt="Rectangle21499" class="frame-rectangle21" />
                <span class="frame-text24"><span>Сгенерировать</span></span>
              </button>
            </form>



          </div>
          <div class="frame-frame29">
            <form action="#" th:action="@{/mainPage}" th:method="GET">
            <button class="frame-report-listbutton button-active button-hover">
              <span class="frame-text26"><span>Список отчетов</span></span>
            </button>
            </form>
            <form action="#" th:action="@{/viewRegistry}" th:method="GET">
            <button class="frame-view-registrybutton  button-hover">
              <span class="frame-text28"><span>Просмотр реестра</span></span>
            </button>
            </form>
            <form action="#" th:action="@{/404}" th:method="GET">
            <button class="frame-f-qbutton button-active button-hover">
              <span class="frame-text30"><span>Справка</span></span>
            </button>
            </form>
          </div>
          <div class="frame-frame291">
            <div class="frame-imageplaceholder">
              <img
                src="/generationSetting/public/playground_assets/iconsimagei149-r0hd.svg"
                alt="IconsimageI149"
                class="frame-iconsimage"
              />
            </div>
          </div>
          <div class="frame-frame292">
            <span class="frame-text32"><span>Показатели</span></span>

            <table>
              <tr>
                <td class="frame-text34">
                  Сумма платежа: <span th:text="${sumPayment}"></span> руб.
                </td>
                <td class="frame-text36">
                  Сумма извещения БПА: <span th:text="${sumBPA}"></span> руб.
                </td>
                <td class="frame-text38">
                  Сумма извещения ПНКО: <span th:text="${sumPNKO}"></span> руб.
                </td>
                <td class="frame-text40">
                  Сумма наличными: <span th:text="${sumCash}"></span> руб.
                </td>
              </tr>
              <tr>
                <td class="frame-text42">
                  Сумма картой: <span th:text="${sumCard}"></span> руб.
                </td>
                <td class="frame-text44">
                  Сумма СБП: <span th:text="${sumSBP}"></span> руб.
                </td>
                <td class="frame-text46">
                  Сумма Организации (БПА): <span th:text="${sumOrgBPA}"></span> руб.
                </td>
                <td class="frame-text48">
                  Сумма Организации (ПНКО): <span th:text="${sumOrgPNKO}"></span> руб.
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
      <script src="script.js"></script>
      
  </body>
</html>
