.frame-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center; /* Добавили выравнивание по центру по горизонтали */
  flex-direction: column;
}

.frame-frame {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center; /* Изменили выравнивание по вертикали на центр */
  justify-content: center; /* Добавили выравнивание по горизонтали */
  flex-shrink: 0;
  background-color: var(--dl-color-default-bggrey);
}

.frame-file-selectinput {
  top: 45px;
  left: 46px;
  width: 391px;
  height: 56.6183967590332px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text {
  top: 5px;
  left: 1px;
  color: rgba(0, 0, 0, 1);
  width: 282px;
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-browsebutton {
  top: 1px;
  left: 282px;
  width: 109px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
}

.button-active:active {
  transform: scale(0.90); /* Уменьшаем масштаб кнопки */
}
.button-hover:hover{
  background-color: rgba(200, 200, 200, 1); /* Изменяем цвет фона при наведении курсора */
  transition: background-color 0.3s; /* Добавляем плавный переход */
  cursor: pointer; /* Добавляем курсор-указатель */
  transform: scale(0.95); /* Уменьшаем масштаб кнопки */
}

.frame-rectangle2 {
  top: 9px;
  left: 7px;
  width: 95px;
  height: 38px;
  position: absolute;
  border-radius: 20px;
}
.frame-text02 {
  top: 16px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-file-selectinput1 {
  top: 46px;
  left: 951px;
  width: 282px;
  height: 57px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center; /* Выравнивание по вертикали в центре */
  justify-content: center; /* Выравнивание по горизонтали в центре */
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}

.frame-file-selectinput span {
  font-size: 24px; /* Измените размер шрифта по вашему усмотрению */
}

.frame-file-selectinput span.frame-text {
  font-size: 24px; /* Измените размер шрифта по вашему усмотрению */
  display: flex;
  justify-content: center; /* Выравнивание по горизонтали внутри .frame-file-selectinput */
  align-items: center; /* Выравнивание по вертикали внутри .frame-file-selectinput */
}

.frame-ellipse12 {
  top: 6px;
  left: 223px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.frame-text04 {
  top: 16px;
  left: 6px;
  color: rgba(0, 0, 0, 1);
  width: 211px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame30 {
  top: 45px;
  left: 459px;
  width: 422px;
  height: 57px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-report-listbutton {
  top: 0px;
  left: 294px;
  width: 128px;
  height: 53.010101318359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text06 {
  top: 15px;
  color: rgba(0, 0, 0, 1);
  right: -1px;
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-view-registrybutton {
  top: 0px;
  left: 148px;
  width: 128px;
  height: 53.010101318359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text08 {
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 128px;
  bottom: 2px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-f-qbutton {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 53.010101318359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text10 {
  top: 13px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame28 {
  top: 121px;
  left: 310px;
  width: 659px;
  height: 579.0404663085938px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-avatar {
  top: 82px;
  left: 280px;
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 200px;
  justify-content: center;
  background-color: rgba(102, 112, 128, 1);
}
.frame-iconoutlinedactioncameracameraon {
  top: 38px;
  left: 38px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.frame-text12 {
  top: 204px;
  left: 171px;
  color: rgba(0, 0, 0, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-nameor-password {
  gap: 6px;
  top: 421px;
  left: 388px;
  width: 204px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-inputwithlabel {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame-text14 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-inputinput {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(152, 161, 178, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.frame-content {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.frame-text16 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.frame-inputwithlabel1 {
  gap: 6px;
  top: 411px;
  left: 688px;
  width: 204px;
  height: 42px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-text18 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-inputinput1 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(152, 161, 178, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.frame-content1 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.frame-text20 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.frame-inputwithlabel2 {
  gap: 6px;
  top: 481px;
  left: 688px;
  width: 204px;
  height: 42px;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-text22 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-inputinput2 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(152, 161, 178, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.frame-content2 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.frame-text24 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.frame-nameor-password1 {
  gap: 6px;
  top: 491px;
  left: 388px;
  width: 204px;
  height: 42px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-inputwithlabel3 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame-text26 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-inputinput3 {
  gap: 8px;
  display: flex;
  padding: 8px 12px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(152, 161, 178, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.frame-content3 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.frame-text28 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
.frame-error-email {
  gap: 6px;
  top: 558px;
  left: 688px;
  width: 204px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-inputwithlabel4 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame-text30 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-inputinput4 {
  gap: 8px;
  display: flex;
  padding: 10px 14px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(152, 161, 178, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.frame-content4 {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.frame-mail01 {
  width: 20px;
  height: 20px;
}
.frame-text32 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-error-phonenumber {
  gap: 6px;
  top: 558px;
  left: 388px;
  width: 204px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame-inputwithlabel5 {
  gap: 6px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.frame-text34 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.frame-inputinput5 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05000000074505806) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(152, 161, 178, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-base-white);
}
.frame-textinput {
  gap: 8px;
  display: flex;
  padding: 10px 14px 10px 12px;
  flex-grow: 1;
  align-items: center;
}
.frame-text36 {
  color: var(--dl-color-gray-700);
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-alertcircle {
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
