.frame-container {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: auto;
  align-items: center;
  justify-content: center; /* ƒобавили выравнивание по центру по горизонтали */
  flex-direction: column;
}

.frame-frame {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center; /* »зменили выравнивание по вертикали на центр */
  justify-content: center; /* ƒобавили выравнивание по горизонтали */
  flex-shrink: 0;
  background-color: var(--dl-color-default-bggrey);
}

.frame-file-selectinput {
  top: 44px;
  left: 46px;
  width: 391px;
  height: 56.6183967590332px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-browsebutton {
  top: 1px;
  left: 282px;
  width: 109px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
}
.frame-rectangle2 {
  top: 9px;
  left: 7px;
  width: 95px;
  height: 38px;
  position: absolute;
  border-radius: 20px;
}
.frame-text {
  top: 16px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-file-selectinput1 {
  top: 45px;
  left: 951px;
  width: 282px;
  height: 57px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-ellipse12 {
  top: 6px;
  left: 223px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.frame-text02 {
  top: 17px;
  left: 1px;
  color: rgba(0, 0, 0, 1);
  width: 211px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame31 {
  top: 44px;
  left: 459px;
  width: 422px;
  height: 57px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame-report-listbutton {
  top: 0px;
  left: 294px;
  width: 128px;
  height: 53.010101318359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text04 {
  top: 13px;
  left: 0px;
  color: rgba(0, 0, 0, 1);
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-view-registrybutton {
  top: 0px;
  left: 148px;
  width: 128px;
  height: 53.010101318359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text06 {
  top: 13px;
  color: rgba(0, 0, 0, 1);
  right: 0px;
  width: 128px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-f-qbutton {
  top: 0px;
  left: 0px;
  width: 128px;
  height: 53.010101318359375px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text08 {
  top: 15px;
  color: rgba(0, 0, 0, 1);
  right: -3px;
  width: 129px;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-frame28 {
  top: 122px;
  left: 310px;
  width: 659px;
  height: 577.707763671875px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
}
.frame-text10 {
  top: 38px;
  left: 46px;
  color: rgba(0, 0, 0, 1);
  width: 561px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text12 {
  top: 84px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.frame-text14 {
  top: 84px;
  left: 245px;
  color: rgba(0, 0, 0, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
