<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Page Not Found</title>
  <style>
    body {
      background-color: #f0f0f0;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .container {
      margin-top: 50px;
    }

    h1 {
      font-size: 48px;
      color: #333;
    }

    p {
      font-size: 24px;
      color: #777;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>404 Page Not Found</h1>
  <p>This is a 404 error page.</p>
  <p>Company: ЭЛПЛАТ</p>
  <p><a href="/mainPage">Go to the main page</a></p>
</div>
</body>
</html>
