<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable(
                [["Language","Percentage"],
                    ["Штрафы и налоги",26168.0],
                    ["Государственная пошлина",323330.0],
                    ["Государственные услуги",1202565.0]]
            );

            var options = {
                'title': 'SBP_amount',
                'width': 600,
                'height': 300,
                'legend': {position: 'none'},
                'vAxis': {title: 'Language'},
                'hAxis': {title: 'Percentage'},
                'bars': 'horizontal'
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
<div id="chart_div"></div>
</body>
</html>
